@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Sevillana&display=swap');

html {
    scroll-behavior: smooth;
}

body * {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* create additional rules below:  */

h1{
    font-family: "Sevillana", cursive;
}

h2{
    font-family: "Dela Gothic One", sans-serif;
}

